{% extends 'hotelm/base.html' %}
{% block title %} Test {% endblock %}

{% block head %}
<style>
table.sortable thead {
    background-color:#959595;
    color: black;
    font-weight: bold;
    cursor: default;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 3px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
{% endblock %}

{% block body_block %}
<p>
<h2>TEST Marriott Search Results</h2>
<br>
Click on the table headers to sort.
<br>
<table class="sortable">
<thead>
  <tr><th>Name</th><th>Price</th><th>Address</th><th>Link</th></tr>
</thead>
<tbody>
    {% for item in res %}
    <tr>
        <td>{{ item.0 }}</td>
        <td>{{ item.1 }}</td>
        <td><a class="address-link" href="https://maps.google.com/?q={{ item.2 }}">{{ item.2 }}</a></td>
        <td><a class="hotel-link" href="{{ item.3 }}">Link</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% endblock %}
