{% extends 'hotelm/base.html' %}
{% block title %} About {% endblock %}


{% block body_block %}
{% load static %}
<p>
    <h2>About</h2>
    <p>Year : {{ time | date:'Y' }}, Month : {{ time | date:'M' }}</p>
    <p>This site is powered by Django</p>
<br>
<p>
    Thank you for visiting my site.</p>
    <p>Features of this site:</p>
    <ul>
        <li>Search Marriott for hotels.</li>
        <li>Search results can be sent to your email daily to track prices and find the lowest prices.</li>
        <li>Create a username and password to store your search history.</li>
        <li>Delete search history.</li>
    </ul>
{% endblock %}
